<br>
  <div class='container'>
    <div class="card-intro">

          <%= image_tag 'https://res.cloudinary.com/dzxrdf9za/image/upload/v1600030386/Nico-292x300.jpg', class: "avatar-large" %>

        <div class="card-intro-infos">
          <h1>Nicolas EYMENIER, FRM</h1>


    <% case @language.name %>
      <% when "English" %>
        <%= render 'profile/english' %>

      <% when "Français" %>
        <%= render 'profile/french' %>

      <% when "Português" %>
        <%= render 'profile/portuguese' %>

      <% when "Español" %>
        <%= render 'profile/spanish' %>
    <% end %>
  </div>
<br>
