<br>
  <div class='container'>
    <div class="width75 justify-center">
      <div class="row space_around align-center">
        <%= image_tag 'https://res.cloudinary.com/dzxrdf9za/image/upload/v1600030386/Nico-292x300.jpg', class: "avatar-large" %>
        <h1>Nicolas EYMENIER, FRM</h1>
      </div>
    </div>

    <% case @language.name %>
      <% when "English" %>
        <%= render 'profile/english' %>

      <% when "Français" %>
        <%= render 'profile/french' %>

      <% when "Português" %>
        <%= render 'profile/portuguese' %>

      <% when "Español" %>
        <%= render 'profile/spanish' %>
    <% end %>
  </div>
<br>
