<div>
    <div class='logo'>
      <%= image_tag locals[:link_img] , class: "avatar-large" %>

    </div>
      <div>
        <p><%= link_to "", locals[:link_site] %>
          <%= locals[:diploma] %>
          <%= locals[:school] %>
          <%= locals[:date] %>
        </p>
      </div>
    </div>
