<div class="row justify-center">
  <h3>Contact:</h3>
  <p><i class="fas fa-map-marker-alt"></i>Alameda Franca 1645, Apto 121, Jardim Paulista, CEP 01422-005, São Paulo, SP, Brazil</p>
  <p><i class="fas fa-phone-square"></i>+55 (11) 99595-2363</p>
  <p><i class="fas fa-at"></i>nicolas.eymenier@edhec.com</p>
  <a href="https://www.linkedin.com/in/nicolas-eymenier-frm-63012b60/"><i class="fab fa-linkedin"></i>LinkedIn Profile</a>
</div>

<div>
  <h2>Work Experience</h2>


  <div>
    <div class='space_between'>
      <div><h4>Portfolio Guardian</h4></div>               <div>May 2019 - Current</div>
    </div>
    <div><h4>CA Indosuez Wealth DTVM, São Paulo, Brazil
    <%= image_tag "https://www.countryflags.io/br/shiny/24.png" %></h4></div>
  </div>

  <div>
    <div class='space_between'>
      <div><h4>Credit Risk Analyst</h4></div>               <div>April 2018 - October 2018</div>
    </div>
    <div><h4>CFM Indosuez Wealth, Monaco
    <%= image_tag "https://www.countryflags.io/mc/shiny/24.png" %></h4></div>
  </div>

  <div>
    <div class='space_between'>
      <div><h4>Credit Risk Analyst</h4></div>               <div>August 2016 – February 2018</div>
    </div>
    <div><h4>Credit Agricole Indosuez Wealth, Miami, USA
    <%= image_tag "https://www.countryflags.io/us/shiny/24.png" %></h4></div>
  </div>

  <div>
    <div class='space_between'>
      <div><h4>Associate Consultant</h4></div>              <div>November 2014 – June 2015</div>
    </div>
    <div><h4>Select Asset Management, Tokyo, Japan
    <%= image_tag "https://www.countryflags.io/jp/shiny/24.png" %></h4></div>
  </div>

  <div>
    <div class='space_between'>
      <div><h4>Risk Manager</h4></div>                <div>November 2013 – June 2014</div>
    </div>
    <div><h4>Allianz Global Investors, Paris, France
    <%= image_tag "https://www.countryflags.io/fr/shiny/24.png" %></h4></div>
  </div>

  <div>
    <div class='space_between'>
      <div><h4>Internship, Exotic Equity Derivatives Risk Analyst</h4></div>      <div>January 2013 – July 2013</div>
    </div>
    <div><h4>Crédit Agricole Corporate and Investment Bank, Paris, France
    <%= image_tag "https://www.countryflags.io/fr/shiny/24.png" %></h4></div>
  </div>

  <div>
    <div class='space_between'>
      <div><h4>Internship, Risk Management & Permanent control</h4></div>             <div>September 2012 - December 2012</div>
    </div>
    <div><h4>Compagnie Monégasque de Banque, Monaco
    <%= image_tag "https://www.countryflags.io/mc/shiny/24.png" %></h4></div>
  </div>

  <div>
    <div class='space_between'>
      <div><h4>Internship, Hedge Fund Assistant Risk Manager</h4></div>           <div>March 2012 - August 2012</div>
    </div>
    <div><h4>Nexar Capital, Paris, France
    <%= image_tag "https://www.countryflags.io/fr/shiny/24.png" %></h4></div>
  </div>

  <div>
    <div class='space_between'>
      <div><h4>Internship, Junior Auditor</h4></div>                      <div>September 2011 – February 2012</div>
    </div>
    <div><h4>Ernst & Young, Lyon, France
    <%= image_tag "https://www.countryflags.io/fr/shiny/16.png" %></h4></div>
  </div>
</div>


<div>
  <h2>Education</h2>
    <div>GARP - Financial Risk Manager 2020</div>

    <div>Anbima - CPA 20 2019</div>

    <div>Le Wagon 2019</div>

    <div>
    Master of Science in Risk & Investment Management         2009 - 2012
    EDHEC Business School  - London
    </div>

    <div>
    French “Classe Préparatoire” in Economics             2007- 2009
    International High School in Valbonne, France
    </div>

    <div>
    French “Baccalaureat” in Economics (Equivalent to A-level)        2004 - 2007
    High School Pierre et Marie Curie – Menton, France
    </div>
</div>

<div>
  <h2>Languages</h2>
  <p>French</p>
  <%= image_tag "https://www.countryflags.io/fr/shiny/16.png" %>
  <p>English</p>
  <%= image_tag "https://www.countryflags.io/us/shiny/16.png" %>
  <p>Portuguese</p>
  <%= image_tag "https://www.countryflags.io/br/shiny/16.png" %>
  <p>Spanish</p>
  <%= image_tag "https://www.countryflags.io/es/shiny/16.png" %>
</div>


<div>
  <h2>Programming & IT skills</h2>
  <p><i class="fab fa-windows"></i> Excel, Access, Word, Power Point</p>
  <p>VBA</p>
  <p>Ruby on Rails</p>
  <p><i class="fab fa-js-square"></i> Javascript</p>
  <p><i class="fab fa-html5"></i> HTML, CSS</p>
  <a href="https://github.com/NicoEym/"><i class="fab fa-github"></i> GitHub account</a>
</div>



<div>
  <h2>Miscellaneous</h2>
  <p><i class="fas fa-swimmer"></i> Open water long distance swimmer</p>
</div>
