<div class='card'>
  <h3>Contact:</h3>
  <p><i class="fas fa-map-marker-alt"></i> Jardim Paulista, CEP 01422-005, São Paulo, SP, Brazil</p>
  <p><i class="fas fa-phone-square"></i> +55 (11) 99595-2363</p>
  <p><i class="fas fa-at"></i> nicolas.eymenier@edhec.com</p>
  <p><a href="https://www.linkedin.com/in/nicolas-eymenier-frm-63012b60/"><i class="fab fa-linkedin"></i> LinkedIn Profile</a></p>
  <p><a href="https://github.com/NicoEym/"><i class="fab fa-github"></i> GitHub account</a></p>
</div>

<div>
  <h2>Work Experience</h2>


  <div class='card'>
    <div class='space_between'>
      <div><h4>Portfolio Guardian/Risk Manager</h4></div>               <div>May 2019 - Current</div>
    </div>
    <div><h4>CA Indosuez Wealth DTVM, São Paulo, Brazil
    <%= image_tag "https://www.countryflags.io/br/shiny/24.png" %></h4></div>
  </div>

  <div  class='card'>
    <div class='space_between'>
      <div><h4>Credit Risk Analyst</h4></div>               <div>April 2018 - October 2018</div>
    </div>
    <div><h4>CFM Indosuez Wealth, Monaco
    <%= image_tag "https://www.countryflags.io/mc/shiny/24.png" %></h4></div>
  </div>

  <div  class='card'>
    <div class='space_between'>
      <div><h4>Credit Risk Analyst</h4></div>               <div>August 2016 – February 2018</div>
    </div>
    <div><h4>CA Indosuez Wealth, Miami, USA
    <%= image_tag "https://www.countryflags.io/us/shiny/24.png" %></h4></div>
    <p>* Automation of daily excess report ;</p>
    <p>* Creating and calibrating new tools to improve department daily workflow;</p>
    <p>* Portfolios analysis of global credit clients: Asset type, country, industry, ratings;</p>
    <p>* Monitoring lending values of pledged collateral;</p>
    <p>* Quarterly review of the credit risk situation of the entity;</p>
  </div>

  <div  class='card'>
    <div class='space_between'>
      <div><h4>Associate Consultant</h4></div>              <div>November 2014 – June 2015</div>
    </div>
    <div><h4>Select Asset Management, Tokyo, Japan
    <%= image_tag "https://www.countryflags.io/jp/shiny/24.png" %></h4></div>
      <p>Working as an adviser for our clients in Japan.</p>

      <p>Helping people make the right investment decisions for their future.</p>
      <p>* Performing financial reviews</p>
      <p>* Analyzing clients' existing financial arrangements, portfolios, needs and priorities.</p>
      <p>* Helping clients with making their investment decisions</p>
      <p>* Structuring appropriate solutions and strategies for clients</p>
      <p>* Sourcing new clients and business development.</p>
  </div>

  <div  class='card'>
    <div class='space_between'>
      <div><h4>Risk Manager</h4></div>                <div>November 2013 – June 2014</div>
    </div>
    <div><h4>Allianz Global Investors, Paris, France
    <%= image_tag "https://www.countryflags.io/fr/shiny/24.png" %></h4></div>
    <p>*Designed, calibrated and automated stress tests for Fixed Income and Money Market funds</p>
    <p>*Developed liquidity risk scoring and classification</p>
    <p>*Produced reports on counterparty and issuer risks</p>
  </div>

  <div class='card'>
    <div class='space_between'>
      <div><h4>Internship, Exotic Equity Derivatives Risk Analyst</h4></div>      <div>January 2013 – July 2013</div>
    </div>
    <div><h4>Crédit Agricole Corporate and Investment Bank, Paris, France
    <%= image_tag "https://www.countryflags.io/fr/shiny/24.png" %></h4></div>
  </div>

  <div class='card'>
    <div class='space_between'>
      <div><h4>Internship, Risk Management & Permanent control</h4></div>             <div>September 2012 - December 2012</div>
    </div>
    <div><h4>Compagnie Monégasque de Banque, Monaco
    <%= image_tag "https://www.countryflags.io/mc/shiny/24.png" %></h4></div>
    <p>*Calculated and analysed P&L on portfolios of exotic derivatives</p>
    <p>*Performed VaR stresses and explained results</p>
  </div>

  <div class='card'>
    <div class='space_between'>
      <div><h4>Internship, Hedge Fund Assistant Risk Manager</h4></div>           <div>March 2012 - August 2012</div>
    </div>
    <div><h4>Nexar Capital, Paris, France
    <%= image_tag "https://www.countryflags.io/fr/shiny/24.png" %></h4></div>
    <p>* Monitored market risks computing VaR, Stress Test and Greek Letters</p>
    <p>* Optimized automation of daily risk reports for 5 portfolios</p>
    <p>* Controlled risk limits on different types of portfolios: volatility arbitrage, short bias</p>
    <p>* Worked on due diligence for 10 counterparties</p>
  </div>

  <div class='card'>
    <div class='space_between'>
      <div><h4>Internship, Junior Auditor</h4></div>                      <div>September 2011 – February 2012</div>
    </div>
    <div><h4>Ernst & Young, Lyon, France
    <%= image_tag "https://www.countryflags.io/fr/shiny/16.png" %></h4></div>
    <p>* Intervened with a variety of clients in small and middle markets among them Norbert Dentressangle</p>
    <p>* Looked for the exposition to risks clients had to face</p>
    <p>* Managed successfully the balance-sheet’s audit</p>
  </div>
</div>


<div class='card'>
  <h2>Education</h2>


  <%= render 'shared/card-education',  locals: {link_img: "https://res.cloudinary.com/dzxrdf9za/image/upload/v1601074416/CV/logo_wagon.png", link_site: 'https://www.lewagon.com/', diploma: "Coding bootcamp", school: "Le Wagon", date: "2019"} %>

  <%= render 'shared/card-education',  locals: {link_img: "https://res.cloudinary.com/dzxrdf9za/image/upload/v1600030386/Nico-292x300.jpg", link_site: 'https://www.edhec.edu/en', diploma: "Master of Science in Risk & Investment Management", school: "EDHEC Business School  - London", date: "2009 - 2012"} %>

  <%= render 'shared/card-education',  locals: {link_img: "https://res.cloudinary.com/dzxrdf9za/image/upload/v1600030386/Nico-292x300.jpg", link_site: 'https://www.lewagon.com/', diploma: "French “Classe Préparatoire” in Economics", school: "International High School in Valbonne, France", date: "2007- 2009"} %>

  <%= render 'shared/card-education',  locals: {link_img: "https://res.cloudinary.com/dzxrdf9za/image/upload/v1600030386/Nico-292x300.jpg", link_site: 'http://www.civfrance.com/', diploma: "French “Baccalaureat” in Economics (Equivalent to A-level)", school: "High School Pierre et Marie Curie – Menton, France", date: "2004- 2007"} %>

</div>

<div class='row'>
  <div class='card col-xs-12 col-md-4'>
    <h2>Languages</h2>
    <p><%= image_tag "https://www.countryflags.io/fr/shiny/16.png" %> French</p>
    <p><%= image_tag "https://www.countryflags.io/us/shiny/16.png" %> English</p>
    <p><%= image_tag "https://www.countryflags.io/br/shiny/16.png" %> Portuguese</p>
    <p><%= image_tag "https://www.countryflags.io/es/shiny/16.png" %> Spanish</p>
  </div>


  <div class='card col-xs-12 col-md-4'>
    <h2>Programming & IT skills</h2>
    <p><i class="fab fa-windows"></i> Pack Office</p>
    <p><i class="fas fa-file-code"></i> VBA</p>
    <p><i class="far fa-gem"></i> Ruby on Rails</p>
    <p><i class="fab fa-js-square"></i> Javascript</p>
    <p><i class="fab fa-html5"></i> HTML, CSS</p>
  </div>

   <div class='card col-xs-12 col-md-4'>
    <h2>Certifications</h2>
    <p>Financial Risk Manager - GARP</p>
    <p>CPA 20 - ANBIMA</p>
  </div>
</div>


<div class='card'>
  <h2>Miscellaneous</h2>
  <p><i class="fas fa-swimmer"></i> Open water long distance swimmer</p>
</div>
